# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***OBJETIVES:***
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. SQL
2. PYTHON
3. JULIA
4. JAVA
5. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Tensorflow

|Data Science tools|
|------------------|
|Jupyter Notebook  |
|RStudio           |
|Apache Spark      |

*** Below are a few examples of evaluating arithmetic expressions in Python
1. **Suma**
 $$ a + b = c $$
2. **Resta**
$$ a - b = c $$

 This a simple arithmetic expression to mutiply then add integers
 (3*4)+5

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

```python
# Convertir 200 minutos a horas
minutos = 200
horas = minutos / 60
print(f"{minutos} minutos son {horas} horas")

Author 
## Almudena Lorca